html,body{
    height: 100%
}

#logo{
    height: 25px;
    position: relative;
    bottom: 5px;
    top: 6px;
}
.moon-logo{
    height: 20px;
    position: relative;
    top: -2px;
}

.logo{
    color: white;
    position: relative;
    top: 6px;
}

#main-container{
    height: 100% !important;
}

.home-link a,
.home-link > a,
.home-link a:hover,
.home-link > a:hover {
    color: #FFFFFF !important;
    text-decoration: none !important;
    cursor: pointer;
}

.up{
    color: green;
}

.down{
    color: red;
}

.same{
    color: inherit;
}


.logo{
    font-size: 1.8em;
}

.center-text{
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#header{

    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(bottom, #272B30 0%, #000000 200%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom, #272B30 0%, #000000 200%);

    /* Opera */
    background-image: -o-linear-gradient(bottom, #272B30 0%, #000000 200%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #272B30), color-stop(2, #000000));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom, #272B30 0%, #000000 200%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to top, #272B30 0%, #000000 200%);
    height: 45px;
    width: 100%
}

.full-width {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.white-text{
    color: white !important;
}

.btn .caret {
    margin-top: 0px !important;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}

#footer-container{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #272B30 0%, #000000 200%) !important;

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #272B30 0%, #000000 200%) !important;

    /* Opera */
    background-image: -o-linear-gradient(top, #272B30 0%, #000000 200%) !important;

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #272B30), color-stop(2, #000000)) !important;

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #272B30 0%, #000000 200%) !important;

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #272B30 0%, #000000 25%) !important;
}

.desktop-header{
    text-align: left;
    padding-left: 10px;
}

.COINWIDGETCOM_WINDOW{
    background: black !important;
}

select {
    width: 200px;
}

.main {
    color: #FFFFFF;
    background-color: #000000;
    height: 100%;
}

#root {
    height: 100%;
}
